<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UofG MyCampus Enrolment Helper</title>

    <link rel="stylesheet" href="/assets/app.css" />
    <link rel="stylesheet" href="/assets/jquery-ui-1.12.0/jquery-ui.min.css" />
    <script src="/assets/jquery-3.1.0.min.js"></script>
    <script src="/assets/jquery-ui-1.12.0/jquery-ui.min.js"></script>
    <script src="/assets/app.js"></script>
  </head>
  <body>

    <div class="container">
      <h1>UofG <span title="MyCrapus">MyCampus</span> Enrolment Helper</h1>

      <%= yield %>
    </div>


    <footer class="container">
      <p>
        Made by <a href="http://davidr.me">David Robertson</a>.
        This site is in no way affiliated with the University of Glasgow.
      </p>
      <p>
        Disclaimer: Class data was last retrieved at 01:00 on Sat 24 July 2016.
        If the university has made any timetabling changes since then, this site may produce incorrect results.
        All results are provided on a best-effort basis &ndash; it is your responsibility to verify the correctness of results before using them to enrol.
      </p>
    </footer>
  </body>
</html>
